{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="text-success py-4 text-center">LIST OF COMMITTEES 
        OF GOVERNING BODY SESSI</h2>
    
    <table class="table table-responsive text-center">
        <thead class="bg-success text-white">
                <th></th>
                <th>FINANCE COMMITTEE</th>
                <th></th>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Commissioner, SESSI</td>
                <td>Chairman</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Nominee of Finance Department,
                        Government of Sindh</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>7</th>
                <td>Director Finance, SESSI</td>
                <td>Member/Secretary</td>
            </tr>
            
        </tbody>
         <thead class="bg-success text-white">
            <th></th>
                <th>SELECTION/PROMOTION COMMITTEE (FOR BS-18 & ABOVE)</th>
            <th></th>
            </thead>
        <tbody>
                <tr>
                        <th>1</th>
                        <td>Commissioner, SESSI</td>
                        <td>Chairman</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                            <th>6</th>
                            <td>Vice Commissioner/
                             Medical Adviser, SESSI </td>
                            <td>Member for Administration/ Medical Branch, as the case may be</td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td>Director Administration/
                                Director Administration (Medical),
                                    SESSI</td>
                            <td>Secretary for Administration/ Medical Branch, as  the case may be</td>
                        </tr>
        </tbody>

        <thead class="bg-success text-white">
            <th></th>
            <th>APPELLATE COMMITTEE</th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Secretary Labour & Human Resources,  Sindh</td>
                <td>Chairman</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Employers' Representative</td>
                <td>Member</td>
            </tr>
            <tr>
                    <th>6</th>
                    <td>Vice Commissioner SESSI </td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th>7</th>
                    <td>Medical Adviser, SESSI</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th>8</th>
                    <td>Director Administration/

                        Director (Admn. Medical), SESSI</td>
                    <td>Secretary for cases from Administration  /  Medical Wing, as the case may be.</td>
                </tr>
        </tbody>

        <thead class="bg-success text-white">
            <th></th>
            <th>SURVEY COMMITTEE</th>
            <th></th>
        </thead>
        <tbody>
                <tr>
                        <th>1</th>
                        <td>Commissioner, SESSI</td>
                        <td>Chairman</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                            <th>6</th>
                            <td>Director C&B, SESSI</td>
                            <td>Member/Secretary</td>
                        </tr>
        </tbody>


        <thead class="bg-success text-white">
            <th></th>
            <th>PENSION, GRATUITY AND G. P. FUND BOARD</th>
            <th></th>
        </thead>
        <tbody>
                <tr>
                        <th>1</th>
                        <td>Commissioner, SESSI</td>
                        <td>Chairman/Convenor</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                            <th>6</th>
                            <td>Director Finance, SESSI</td>
                            <td>Member/Secretary</td>
                        </tr>
        </tbody>

        
        <thead class="bg-success text-white">
            <th></th>
            <th>MEDICINES/EQUIPMENTS PURCHASE COMMITTEE</th>
            <th></th>
        </thead>
        <tbody>
                <tr>
                        <th>1</th>
                        <td>Commissioner, SESSI</td>
                        <td>Chairman/Convenor</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Medical Adviser, SESSI</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>Director Finance, SESSI</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>S.M.O. (Purchases), SESSI</td>
                        <td>Member/Secretary</td>
                    </tr>
                    <tr>
                        <th>11</th>
                        <td>Two Specialists</td>
                        <td>Co-opted Member</td>
                    </tr>
                    
        </tbody>

        <thead class="bg-success text-white">
            <th></th>
            <th>INVESTMENT COMMITTEE</th>
            <th></th>
        </thead>
        <tbody>
                <tr>
                        <th>1</th>
                        <td>Commissioner, SESSI</td>
                        <td>Chairman/Convenor</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                            <th>6</th>
                            <td>Director Finance, SESSI</td>
                            <td>Member/Secretary</td>
                        </tr>
        </tbody>

        <thead class="bg-success text-white">
            <th></th>
            <th>MEDICINES/EQUIPMENTS PURCHASE COMMITTEE</th>
            <th></th>
        </thead>
        <tbody>
                <tr>
                        <th>1</th>
                        <td>Commissioner, SESSI</td>
                        <td>Chairman</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Vice Commissioner, SESSI</td>
                        <td>Vice Chairman</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>4</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>5</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>6</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>7</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>8</th>
                        <td>Employers' Representative</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>9</th>
                        <td>Medical Adviser, SESSI</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>10</th>
                        <td>Director Finance, SESSI</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th>11</th>
                        <td>Director Administration/
                            Director (Admn. Medical), SESSI</td>
                        <td>Member/Secretary for Administration/Medical Branch, as the case may be. </td>
                    </tr>
                    
        </tbody>


    </table>
</div>    
{% endblock %}