{% load static %}
<!-- Banner -->

<section id="banner" class="py-5">
        <div class="success-overlay text-success">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <h1 class="display-4 mt-5 pt-2">
                            Sindh Employee Social Security Institution
                        </h1>
                        <p class="lead pt-3">A Social Security Institution which guarentees a safe and secure present and future</p>
                        <a href="{% url 'pages_about' %}" class="btn btn-outline-success btn-lg mt-2">
                            <i class="fas fa-arrow-right"></i> About Us
                        </a>
                    </div>
                    <div class="col-lg-6">
                        
                            <div class="row py-5 text-center">
                                <div class="col-md-6">
                                    <a href="#" class="d-none d-lg-block">
                                    <img src="{% static 'images/pakchild1.jpg' %}" height="300" width="300" alt="" class="img-fluid py-3">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                        <a href="#" class="d-none d-lg-block">
                                            <img src="{% static 'images/pakchild1.jpg' %}" height="300" width="300" alt="" class="img-fluid py-3">
                                        </a>
                                </div>
                                <div class="col-md-6">
                                        <a href="#" class="d-none d-lg-block">
                                        <img src="{% static 'images/pakchild1.jpg' %}" height="300" width="300" alt="" class="img-fluid py-3">
                                        </a>
                                    </div>
                                    <div class="col-md-6">
                                            <a href="#" class="d-none d-lg-block">
                                                <img src="{% static 'images/pakchild1.jpg' %}" height="300" width="300" alt="" class="img-fluid py-3">
                                            </a>
                                    </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END Banner -->