{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <h2 class="text-success py-4 text-center">CASH BENEFITS</h2>
        <p class="text-center lead">Under Social Security Scheme secured workers are entitled to cash sickness benefit, injury benefit, maternity 
            benefit, iddat benefit, disablement pension, disablement gratuity, ex-gratia grant and dependants get survivors' 
            pension and death grant. The detail is as under:</p>
        <table class="table table-responisve">
            <thead class="bg-success text-white">
                <th>Type of Benefit</th>
                <th>Rate</th>
                <th>Duration/Mode of Payment</th>
            </thead>
            <tbody>
                <tr>
                    <td>SICKNESS</td>
                    <td>	
                        i)              75% of wages last drawn
                        <br>        
                        ii)             100% of wages last drawn</td>
                    <td>
                        121 days in ordinary ailments  during calendar year
                        <br>365 days in case of Tuberculosis or Cancer
                    </td>
                </tr>
                <tr>
                    <td>EMPLOYMENT INJURY</td>
                    <td>	
                        100% of wages last drawn</td>
                    <td>
                        Maximum 180 days
                    </td>
                </tr>
                <tr>
                    <td>DEATH GRANT</td>
                    <td>	
                        30 days of sickness benefit subject to minimum Rs.1500/-</td>
                    <td>
                        Lump sum
                    </td>
                </tr>
                <tr>
                    <td>IDDAT</td>
                    <td>	
                        100% of wages last drawn
                    <td>
                        During the period of Iddat (130 days)
                    </td>
                </tr>
                <tr>
                    <td>MATERNITY</td>
                    <td>	
                        100% of wages last drawn
                    <td>
                        12 weeks (6 weeks each pre-natal and post-natal)
                    </td>
                </tr>
                <tr>
                    <td>DISABLEMENT GRATUITY</td>
                    <td>	
                        If the degree of disablement ranges between 1-20% (to be assessed by Medical Board)
                    <td>
                        Lump sum
                    </td>
                </tr>
                <tr>
                    <td>DISABLEMENT PENSION</td>
                    <td>	
                        <h5>Partial:</h5>
                        If the degree of disablement ranges between 21 to 66% (assessed by the Medical Board)
                        <br>
                        <h5>Total:</h5>
                        75% of wages last drawn if the degree of disablement is assessed 67% or above by Medical Board</td>
                    <td>
                        Monthly Basis
                    </td>
                </tr>
                <tr>
                    <td>SURVIVORS PENSION
                        </td>
                    <td>	
                        75% of wages last drawn
                    <td>
                        <h5>Widow:</h5>
                        As long as  she does not re-marry
                        <br>
                        <h5>Widower:</h5>
                        Till life (if he is disabled and  dependant on his wife) provided he does not re-marry
                        <br>
                        <h5>Children:</h5>
                        As long as they do not attain the age of 21 years.  There shall be no limit for un-married dependant daughters
                        <br>
                        <h5>Parent:</h5>
                        Till life (in the absence of widow/ needy invalid widower)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}