{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'partials/_titlebox.html' %}
    <div class="container">
        <section id="function" class="py-4">
            <h2 class="text-center text-success">Functions</h2>
            <p class="lead text-center">
                The main functions of SESSI is to provide medical care and cash benefits to secured workers
                and their dependants in the event of sickness, maternity, employment injury,death grant, iddat, disablement gratuity,
                disablement pension, survivors' pension and ex-gratia grant.
            </p>

            <h2 class="text-success py-4">Governing Body Function:</h2>
            <p class="lead">
                The main functions of the Governing Body are as under:

                <ul class="lead">
                    <li> To approve the Budget estimates, audited accounts and annual reports of the Institution and,</li>
                    <li>To call for any information or direct any research to be made for the furtherance of the objects of the Ordinance</li>
                </ul>
            </p>

            <h2 class="text-success py-4">Directorates Function:</h2>
            <p class="lead">
                The main functions of Directorates are collection of Social Security Contribution, payment of Cash Benefits, Registration
                 of employers and workers and Survey of new establishments.
            </p>

            <h2 class="text-success py-4">Medical Circles Function:</h2>
            <p class="lead">
                The main function of Circles is to provide medical
                care facilities to the secured workers and
                their dependants through dispensaries and medical centres.
            </p>
            <h2 class="text-success py-4">Hospitals Function: </h2>
            <p class="lead">
                The main functions of the hospitals are to provide specialists medical care
                to secured workers and their dependants through OPD and IPD. Further,
                laboratory tests, X-ray, ultrasound, dialysis, endoscopy, etc.
                 are performed. Necessary operative treatment also provided here.
            </p>
        </section>
    </div>
{% endblock %}