{% extends 'base.html' %} 
{% load static %}

{% block content %}
<section id="hospital">
    <div class="container">
        <h2 class="text-success text-center py-4">Facilities available at SESSI Hospitals</h2>
        
        <table class="table text-center border">
            <thead>
                <tr>
                    
                    <th>S.No</th>
                    <th>Name of Department</th>
                    <th>KVSS</th>
                    <th>LANDHI</th>
                    <th>KOTRI</th>
                    <th>HYDERABAD</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>1</th>
                    <th>Casualty</th>
                    <td>4 Beds, Oxygen, Suction, Nebulization</td>
                    <td>6 Beds, Oxygen, Suction, Nebulization</td>
                    <td>No Casualty       Deptt. RMO on call.</td>
                    <td>No Casualty Deptt. RMO on call.</td>
                </tr>
                <tr>
                    <th>2</th>
                    <th>General Surgery</th>
                    <td>All general surgeries. Laparoscopic Surgery</td>
                    <td>All general surgeries.</td>
                    <td>All routine general surgeries.</td>
                    <td>All routine general surgeries.</td>
                </tr>
                <tr>
                    <th>3</th>
                    <th>Orthopaedic</th>
                    <td>All orthopaedic surgeries. Image Intensifier.</td>
                    <td>All orthopaedic surgeries</td>
                    <td>Surgeon on contract performs surgeries.</td>
                    <td>OPD once a week</td>
                </tr>
                <tr>
                    <th>4</th>
                    <th>ENT</th>
                    <td>All ENT surgeries. Surgical Microscope.</td>
                    <td>All ENT surgeries. Surgical Microscope.</td>
                    <td>All ENT surgeries.</td>
                    <td>No ENT Deptt.

                        OPD once a week</td>
                </tr><tr>
                    <th>5</th>
                    <th>Eye</th>
                    <td>All eye surgeries. Phaco facility</td>
                    <td>All eye surgeries.</td>
                    <td>All eye surgeries.</td>
                    <td>No Eye Surgeon. OPD once a week.</td>
                </tr>
                <tr>
                    <th>6</th>
                    <th>Chest</th>
                    <td>Chest Deptt. with Indoor facility</td>
                    <td>Chest Deptt. with Indoor facility. Central oxygen.</td>
                    <td>OPD conducted</td>
                    <td>Chest Deptt. with Indoor facility</td>
                </tr>
                <tr>
                    <th>7</th>
                    <th>Medical</th>
                    <td>Male, Female wards. Gastroscopy done</td>
                    <td>Male, Female          Wards.                 No Physician. Gastroscopy done</td>
                    <td>Physician conducts OPD on fixed days.</td>
                    <td>Indoor and outdoor facility available.</td>
                </tr>
                <tr>
                    <th>8</th>
                    <th>Surgical ICU</th>
                    <td>Surgical ICU with central oxygen. Monitors with 5 beds</td>
                    <td>Surgical ICU.</td>
                    <td>No ICU facility</td>
                    <td>No ICU facility</td>
                </tr>
                <tr>
                    <th>9</th>
                    <th>Operation Theatre</th>
                    <td>Facility with central suction, ventilator, anaesthesia machines.</td>
                    <td>Facility with central suction, ventilator, anaesthesia machines.</td>
                    <td>Needs to be upgraded.</td>
                    <td>Needs to be upgraded.</td>
                </tr>
                <tr>
                    <th>10</th>
                    <th>Dermatology</th>
                    <td>Indoor & Outdoor facility.</td>
                    <td>Indoor & Outdoor facility.</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <th>11</th>
                    <th>Radiology</th>
                    <td>All kinds of X-Ray,    Ultrasound           CT Scan installed.</td>
                    <td>All kinds of X-Ray, Ultrasound.</td>
                    <td>All kinds of X-Ray, Ultrasound.</td>
                    <td>All kinds of X-Ray, Ultrasound.</td>
                </tr>
                <tr>
                    <th>12</th>
                    <th>Dental Surgery</th>
                    <td>Facility available. Needs to be upgraded.</td>
                    <td>Facility available. Needs to be upgraded.</td>
                    <td>Facility available. Needs to be upgraded.</td>
                    <td>Facility available. Needs to be upgraded.</td>
                </tr>
                <tr>
                    <th>13</th>
                    <th>Physio-therapy</th>
                    <td>Well equipped</td>
                    <td>Well equipped</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <th>14</th>
                    <th>Occupational Therapy</th>
                    <td>Well equipped.</td>
                    <td>----</td>
                    <td>----</td>
                    <td>----</td>
                </tr>
                <tr>
                    <th>15</th>
                    <th>ICU</th>
                    <td>Proper ICU to be established.</td>
                    <td>Proper ICU to be established.</td>
                    <td>Proper ICU to be established.</td>
                    <td>----</td>
                </tr>
                <tr>
                    <th>16</th>
                    <th>Paediatrics</th>
                    <td>Indoor, Outdoor, incubator, nursery.</td>
                    <td>Indoor, Outdoor, incubator, nursery.</td>
                    <td>----</td>
                    <td>Indoor, Outdoor, incubator, nursery.</td>
                </tr>
                <tr>
                    <th>17</th>
                    <th>Obs. & Gynae</th>
                    <td>Indoor, Outdoor, Labour Room, OT</td>
                    <td>Indoor, Outdoor, Labour Room, OT</td>
                    <td>Indoor, Outdoor, Labour Room, OT</td>
                    <td>Indoor, Outdoor, Labour Room, OT</td>
                </tr>
                <tr>
                    <th>18</th>
                    <th>Psychiatry</th>
                    <td>Outdoor/Indoor.   No Psychiatrist.</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <th>19</th>
                    <th>Neurology</th>
                    <td>Outdoor/Indoor Facility</td>
                    <td>-----</td>
                    <td>Outdoor/Indoor Facility</td>
                    <td>Outdoor/Indoor Facility</td>
                </tr>
                <tr>
                    <th>20</th>
                    <th>Cardiology</th>
                    <td>OPD and CCU Facility</td>
                    <td>-----</td>
                    <td>OPD Facility</td>
                    <td>OPD Facility</td>
                </tr>
                <tr>
                    <th>21</th>
                    <th>Dialysis Unit</th>
                    <td>Complete Dialysis Unit with RO System</td>
                    <td>Dialysis Unit without RO System</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <th>22</th>
                    <th>Ambulance</th>
                    <td>Available 24 Hrs</td>
                    <td>Available 24 Hrs</td>
                    <td>Available 24 Hrs</td>
                    <td>Available 24 Hrs</td>
                </tr>
                <tr>
                    <th>23</th>
                    <th>Library</th>
                    <td>8000 Books & Journals. Computer with Internet.</td>
                    <td>Medical Books & Journals. Computer with Internet.</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <th>24</th>
                    <th>School of Nursing</th>
                    <td>Registered with Nursing Council. 25 students.</td>
                    <td>Under process.</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <th>25</th>
                    <th>Neuro Surgery</th>
                    <td>Under Construction</td>
                    <td>-----</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <th>26</th>
                    <th>Residential Accommo-dation</th>
                    <td>Available for MS, Consultants, RMOs & other Staff</td>
                    <td>Available for MS, Consultants, RMOs & other Staff</td>
                    <td>-----</td>
                    <td>-----</td>
                </tr>
                <tr>
                    <th>27</th>
                    <th>Clinical Pathology</th>
                    <td>Well equipped Lab. All routine tests done.</td>
                    <td>Well equipped Lab. All routine tests done.</td>
                    <td>Needs to be upgraded</td>
                    <td>Needs to be upgraded</td>
                </tr>

            </tbody>

        </table>

        <h2 class="text-success text-center py-4">Facilities available at SESSI Medical Centres </h2>
        <table class="table text-center border">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name of  Medical Centre</th>
                    <th>Facilities Available</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>Fatima Jinnah, North Karachi</th>
                    <td>10 beds, X-Ray, Lab.  (A & B shifts only)</td>
                </tr>
                <tr>
                    <th>2</th>
                    <th>Korangi</th>
                    <td>10 beds, X-Ray, Lab.  (A & B shifts only)</td>
                </tr>
                <tr>
                    <th>3</th>
                    <th>Dhabeji</th>
                    <td>10 beds, X-Ray, Lab and RMO</td>
                </tr>
                <tr>
                    <th>4</th>
                    <th>Nooriabad</th>
                    <td>10 beds, X-Ray, Lab and RMO</td>
                </tr>
                <tr>
                    <th>5</th>
                    <th>Sukkur</th>
                    <td>10 beds, X-Ray, Ultra-sound, Lab and RMO.</td>
                </tr>

            </tbody>
        </table>
        
    </div>
</section>

{% endblock %}