{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_titlebox.html' %}

<section id="project" class="py-4 container">
    <h2 class="text-center text-success">Projects</h2>
    <p class="lead text-center py-2">
        More than 70% of SESSI budget  revolve around medical care and
        largest chunk of Institution's financial resources is spent in this sphere,
        the main thrust is on bringing the hospitals, medical centres and dispensaries at par
        with first rate private medical institutions, ensuring excellent medical care to the secured workers and their dependants.
        First step has already been taken in this direction by making adequate provisions in the
        current fiscal year budget for modernization of medical facilities..
    </p>
    <p class="lead text-center py-2">
        It is believed that according to modern theory of health care primary units are strengthened to shed load from secondary and tertiary units.
        The existing primary health care facilities at our dispensaries will be improved so as to reduce the increasing
        demands on our secondary health care medical centres and hospitals.
    </p>
</section>

{% endblock %}